<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Note the user: it's unable to access anything in the database except stored procedures and functions. -->
		<add name="Hypnos" connectionString="Persist Security Info=False;User ID=executor;Password=Ver$1l0Ff;Initial Catalog=Hypnos;Server=localhost;"/>
	</connectionStrings>
</configuration>