################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hypnos/.vs/Hypnos
/Hypnos/Hypnos.Desktop/bin
/Hypnos/Hypnos.Desktop/obj
